@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Oleo+Script&family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
  --palette-white: #ffffff;
  --grey: #818f9b;
  --grey-lighter: #efefef;
  --grey-light: #d4d7d9;
  --grey-darkest: #2c3236;
  --grey-dark: #4a545e;
  --grey-lightest: #f7f7f7;
  --action: #6868bb;
  --action-light: #e9eaf5;
  --action-dark: #423b99;
  --brand-light: #eaf6e7;
  --brand: #73bf5c;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}
.section-header p {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: -0.01px;
  color: var(--action);
}

.section-bg {
  background-color: var(--grey-lightest) !important;
}

.section-header h2 {
  margin: 10px 0 0 0;
  padding: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 38px;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: -0.85px;
  text-align: center;
  color: var(--grey-darkest);
}
#inner {
  margin-top: 70px;
}
.section-header h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: var(--grey-dark);
}
@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

.action-btn a {
  padding: 15px 25px 19px 20px;
  border-radius: 4px;
  color: var(--action);
  transition: 0.3s;
  background-color: var(--action-light);
}
.action-btn a:hover {
  padding: 15px 25px 19px 20px;
  border-radius: 4px;
  color: var(--palette-white);
  background-color: var(--action);
  transition: 0.3s;
}

.section-big-header h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -2.86px;
  text-align: center;
  color: var(--grey-darkest);
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--action);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: var(--action-dark);
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  background-color: #73bf5c;
}
.header.header-scrolled {
  background: #73bf5c;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}
.header .logo {
  line-height: 0;
}
.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #23461b;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i,
.navbar a:active i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #000;
}
.navbar .getstarted,
.navbar .getstarted:focus {
  display: flex;
  gap: 10px;
  background: #fff;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #23461b;
}
.navbar .getstarted i {
  font-size: 22px;
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #012970;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 22, 61, 0.9);
  transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #012970;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #4154f1;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #4154f1;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  background: url(../img/banner.jpg) top center no-repeat;
  background-size: cover;
}
.hero h1 {
  margin: 0 0 28px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 68px;
  font-weight: bold;
  line-height: 1.12;
  letter-spacing: -2.86px;
  text-align: center;
  color: var(--palette-white);
}
.hero h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: var(--palette-white);
}
.hero-newsletter h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.25px;
  text-align: center;
  color: var(--palette-white);
}

.hero-newsletter {
  padding: 10px 0;
}

.hero-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}
.hero-newsletter form input[type="email"] {
  border: 0;
  padding: 8px;
  width: 100%;
}
.hero-newsletter form input[type="text"] {
  border: 0;
  padding: 8px;
  width: 100%;
}
.hero-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: var(--action);
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}
.hero-newsletter form input[type="submit"]:hover {
  background: var(--action-dark);
}
@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}
@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }
  .hero .hero-img img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero .hero-img img {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# tools
--------------------------------------------------------------*/
.tools .box {
  padding: 30px;
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.tools .box h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: var(--grey-dark);
}
.tools .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.tools .box:hover img {
  transform: scale(1);
}

/*--------------------------------------------------------------
# shipping
--------------------------------------------------------------*/
.shipping {
  background-color: var(--brand-light);
}

.shipping .box {
  transition: 0.3s;
  height: 100%;
}
.shipping .content-box {
  display: flex;
  gap: 20px;
}

.shipping .box h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.25px;
  color: var(--grey-darkest);
}

/*--------------------------------------------------------------
# product
--------------------------------------------------------------*/
.product .box {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 1px 0 0 var(--grey-light);
  border: solid 1px var(--grey-lighter);
  background-color: var(--palette-white);
}

.product .product-box h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  letter-spacing: -0.02px;
  color: var(--grey-darkest);
}
.product .product-rew {
  display: flex;
  gap: 15px;
}
.product .product-rew i {
  color: var(--brand);
}

.product .product-rew .number a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  line-height: 1.38;
  letter-spacing: -0.01px;
  color: var(--action);
}

.product .stock p {
  margin-bottom: 0px;
  margin-top: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.44;
  color: var(--grey-dark);
}

.product .stock h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: -0.45px;
  color: var(--grey-darkest);
}

.product .pr-btn {
  margin-top: 16px;
  margin-bottom: 16px;
}

.product .pr-btn .light-btn {
  background-color: var(--action-light);
  color: var(--action);
  padding: 8px 12px;
  transition: 0.5s;
  border-radius: 4px;
}

.product .pr-btn .light-btn:hover {
  background-color: var(--action);
  color: var(--palette-white);
}

.product .pr-btn .dark-btn {
  background-color: var(--action);
  color: var(--palette-white);
  padding: 8px 12px;
  transition: 0.5s;
  border-radius: 4px;
}

.product .pr-btn .dark-btn:hover {
  background-color: var(--action-dark);
  color: var(--palette-white);
}
/*--------------------------------------------------------------
# Feedback
--------------------------------------------------------------*/
.feedback .box {
  display: flex;
  gap: 10px;
}
.feedback .box img {
  height: 22px;
  width: 22px;
}
.feedback .box p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.01px;
  color: var(--grey-dark);
}
.feedback .box p span {
  font-style: italic;
  font-weight: 600;
}
/*--------------------------------------------------------------
# hamapp
--------------------------------------------------------------*/
.hamapp {
  background-color: var(--grey-lighter);
}
.hamapp h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.25px;
  color: var(--grey-darkest);
}

.hamapp img {
  width: 200px;
}

.hamapp h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: -0.85px;
  color: var(--grey-darkest);
}

/*--------------------------------------------------------------
# hamapp
--------------------------------------------------------------*/
.about .about-row img {
  width: 40px;
  height: auto;
  margin-bottom: 16px;
}

.about .about-row h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  letter-spacing: -0.02px;
  text-align: center;
  color: var(--grey-darkest);
}

.about .about-row p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--grey-dark);
}

.about .about-row .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*--------------------------------------------------------------
# questions
--------------------------------------------------------------*/
.questions .box {
  padding: 30px;
  transition: 0.3s;
  height: 100%;
}

.questions .box h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.44;
  color: var(--grey-dark);
}
.questions .box a {
  text-decoration: underline;
}
.questions .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.questions .box:hover img {
  transform: scale(1);
}

/*--------------------------------------------------------------
# Shop page
--------------------------------------------------------------*/

.title .bg {
  background-color: var(--grey-lightest);
  padding-bottom: 50px;
}

.alert {
  font-size: 18px;
  color: var(--grey-darkest);
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}
.dark {
  color: var(--grey-dark) !important;
}

.title h4 {
  text-align: center;
  margin: 16px 0px;
  padding: 8px 0px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.25px;
  text-align: center;
  color: var(--grey-darkest);
}

.title form select {
  width: 80%;
  border: solid 1px var(--grey);
  border-radius: 4px;
  height: 40px;
}

.title form .form-controler {
  display: flex;
  gap: 18px;
}

.title form input {
  padding: 8px;
  opacity: 0.5;
  border: none;
  border-radius: 4px;
  background-color: var(--action-light);
}

.product .ash {
  background-color: var(--grey-lightest);
  border: none;
}

.product .orange {
  background-color: #ffecce;
  border: none;
}

.product .orange p,
.product .orange i {
  color: #704300;
}

.product .alert {
  padding: 8px;
}

.main-product h2 {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px !important;
  font-size: 46px;
  font-weight: bold;
  letter-spacing: -1.25px;
  text-align: center;
  color: var(--grey-darkest);
}

.main-product p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.01px;
  color: var(--grey-dark);
  padding-left: 16px;
  margin-bottom: 0px;
}
.main-product p span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: -0.85px;
  color: var(--grey-darkest);
}
.main-product .btns {
  margin-top: 16px;
  padding-left: 16px;
}
.main-product a {
  padding: 12px 16px;
  background-color: #000;
  margin-top: 16px;
}

.main-product .btn1 {
  border-radius: 4px;
  background-color: var(--action-light);
  color: #21247f;
  transition: 0.4s;
}
.main-product .btn1:hover {
  background-color: var(--action-dark);
  color: var(--palette-white);
}

.main-product .btn2 {
  border-radius: 4px;
  background-color: var(--action-dark);
  color: var(--palette-white);
  transition: 0.4s;
}

.main-product .btn2:hover {
  border-radius: 4px;
  background-color: var(--action-light);
  color: #21247f;
}

/*--------------------------------------------------------------
# blog page
--------------------------------------------------------------*/
.shipping-hero {
  margin-top: 70px;
  background-color: var(--grey-lightest);
}

.shipping-hero h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 46px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -1.25px;
  text-align: center;
  color: var(--grey-darkest);
}

.blog {
  margin-bottom: 24px;
}
.blog .blog-post {
  display: flex;
  gap: 15px;
  width: 100%;
  margin-bottom: 24px;
}

.blog .blog-post .box-content h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: -0.45px;
  color: var(--grey-darkest);
}

.blog .blog-post .box-content p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.01px;
  color: var(--grey-dark);
}

.blog .blog-post .box-content a {
  text-decoration: underline;
}
.blog .blog-post .box-content p span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.38;
  color: var(--grey);
}

.blog .list-taxonomy h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.25px;
  color: var(--grey-darkest);
}

.blog .list-taxonomy ul {
  padding: 0px !important;
  list-style: none;
}
.blog .list-taxonomy ul li {
  list-style: none;
  text-decoration: underline;
  margin-top: 16px;
}
.blog .list-taxonomy ul li:last-child {
  display: none;
}
.blog h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
}
.blog h3:last-child {
  display: none;
}

#searchResult {
  list-style: none !important;
  text-align: left !important;
  display: flex !important;
  flex-direction: column !important;
  margin: 0px !important;
  padding: 0px !important;
}
#searchResult li {
  background-color: var(--palette-white);
  padding: 12px;
  margin-top: 2px;
}
#searchResult li a {
  color: var(--action-dark);
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.product-rew .starts i {
  color: var(--brand) !important;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f7f7f7;
  padding: 0 0 30px 0;
  font-size: 14px;
}

.footer .footer-newsletter {
  padding: 50px 0;
  border-top: 1px solid var(--grey-light);
}
.footer .footer-newsletter h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.25px;
  text-align: center;
  color: var(--grey-darkest);
}
.footer .footer-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}
.footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}
.footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: var(--action);
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}
.footer .footer-newsletter form input[type="submit"]:hover {
  background: var(--action-dark);
}
.footer .footer-top {
  background-color: #f7f7f7;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}
@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}
.footer .footer-top .footer-info {
  margin-bottom: 30px;
}
.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}
.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}
.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}
.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}
.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}
.footer .footer-top .social-links a:hover {
  color: #012970;
}
.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #2c3236;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}
.footer .footer-top .footer-links {
  margin-bottom: 30px;
}
.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}
.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-top .footer-links ul a {
  color: #21247f;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
.footer .footer-top .footer-links ul a:hover {
  color: #4154f1;
}
.footer .footer-top .footer-contact p {
  line-height: 26px;
}
.footer .copyright {
  text-align: center;

  color: #012970;
}
.footer .sm ul {
  padding-top: 30px;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 15px;
}
.footer .sm ul li a i {
  color: #423b99;
  font-size: 26px;
}
