{{ define "main" }}

<!-- ======= hero Section ======= -->
<section class="shipping-hero">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center text-center">
      <div class="box">
        <h2>About us</h2>
      </div>
    </div>
  </div>
</section>
<!-- End hero Section -->

<!-- ======= content Section ======= -->
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          In a world where Amateur Radio ought to be on the cutting edge of
          technology, far too often hams are seen as being “old school” and
          “behind the times”. There is no part of the hobby where this is more
          painfully obvious than in that of amateur radio license study and
          examinations. <br /><br />

          Signal Stuff is dedicated to enhancing the use of technology in the
          amateur radio licensing technology. With our free website HamStudy.org
          we provide software which finally gives aspiring hams and those
          wanting to progress in the hobby intelligent tools which actually help
          them cover the material faster and remember it more effectively.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          With its sister site ExamTools.org we give VE teams the software they
          need to be able to give exams with integrity and efficiency, whether
          online or using paper. (For more information about ExamTools.org,
          check out our youtube walkthrough). <br /><br />

          Unfortunately, free crusades like this are hard to fund and maintain;
          this website and the products it sells are what make that possible.
          Every single antenna we sell was assembled by hand by members of the
          amateur radio community.<br />

          <strong>Thanks for supporting HamStudy.org!</strong>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End content Section -->

<!-- ======= about Section ======= -->
<section class="about">
  <div class="container" data-aos="fade-up">
    <div class="row about-row align-items-center justify-content-center">
      <div class="col-lg-3 box" data-aos="fade-up" data-aos-delay="200">
        <img src="/assets/img/watch_later.svg" alt="" />
        <h3>Fast</h3>
        <p>At magnum periculum adiit in oculis quidem exercitus quid ex.</p>
      </div>
      <div class="col-lg-3 box" data-aos="fade-up" data-aos-delay="200">
        <img src="/assets/img/chat_bubble.svg" alt="" />
        <h3>Flexible</h3>
        <p>Epicurus in animis nostris inesse notionem, ut ad naturam aut.</p>
      </div>
      <div class="col-lg-3 box" data-aos="fade-up" data-aos-delay="200">
        <img src="/assets/img/face.svg" alt="" />
        <h3>Reliable</h3>
        <p>Sunt autem vel illum, qui dolorem aspernari ut ita ruant.</p>
      </div>
    </div>
  </div>
</section>
<!-- End about Section -->

<!-- ======= feedback Section ======= -->
<section class="feedback">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>What our customers say</h2>
    </header>
    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <img src="/assets/img/user.png" alt="user" class="img-fluid" />
          <p class="mb-5">
            "First off, I used hamstudy.org and it was very helpful in getting
            my General and Extra. I recently bought two of these signal sticks
            and tried them out on two different HTs. They really work great.
            Yes, you can coil it up and it pops right back in shape. The price
            is very reasonable and the shipping was fast."
            <br /><br />
            <span>Darren</span>
          </p>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="box">
          <img src="/assets/img/user.png" alt="user" class="img-fluid" />
          <p class="mb-5">
            "I can clearly reach a repeater that was mostly static with the
            stock rubber duck on my Baofeng. It did it’s job. I also want to
            support the people behind the site (hamstudy.org) that helped me
            pass the test to get into this hobby. For both of those, it’s an
            easy 5/5."

            <br /><br />
            <span>George</span>
          </p>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="600"
      >
        <div class="box">
          <img src="/assets/img/user.png" alt="user" class="img-fluid" />
          <p class="mb-5">
            "I was sceptic, I admit it. I decided to check the SWR on my HT
            antenna’s out of boredom one day and was shocked. Radio’s D74 and
            FT3. Stock antenna was 6+ SWR and Diamond SRH320A ($50.00 worth) was
            8+. So I ordered the Signal stick. SWR is 1.2-1.4. Wow. I can hit
            repeaters on EL power that required med to high with other
            antenna’s. Thanks for a Great product at a Great price."

            <br /><br />
            <span>Lane</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End feedback Section -->

<!-- ======= video Section ======= -->
<section class="video">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Our videos</h2>
    </header>
    <div class="row justify-content-center">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <iframe
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/m9adTAhvPNY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p class="text-center">Super-elastic Signal Sticks in action</p>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <iframe
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/m9adTAhvPNY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p class="text-center">
          Here is a review from a third party (posted with permission)
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End video Section -->

<!-- ======= questions Section ======= -->
<section class="questions">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Popular questions</h2>
    </header>
    <div class="row">
      {{ range where .Site.Pages "Type" "question" }}
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <p class="mb-5">
            <strong>{{.Title}}</strong>
          </p>
          <p class="mb-5">
            {{.Description}}
          </p>
          <a href="{{.Permalink}}">Read more</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- End questions Section -->

{{end}}
