{{ define "main" }}

<!-- ======= shipping Section ======= -->
<section class="shipping" id="inner">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="content-box">
          <div class="icon">
            <img src="/assets/img/truck.png" alt="truck" />
          </div>
          <div class="box">
            <h3>FREE shipping in the US on all orders over $50.</h3>
            <p>
              To other countries the shipping costs will be calculated during
              checkout.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="content-box">
          <div class="icon">
            <img src="/assets/img/securty.png" alt="security" />
          </div>
          <div class="box">
            <h3>If it breaks, we will fix it.</h3>
            <p>
              All Super-elastic Signal Stick antennas are sold with a
              <strong>lifetime warranty.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End shipping Section -->

<!-- ======= title Section ======= -->
<section class="title" id="inner">
  <div class="container" data-aos="fade-up">
    <header class="section-big-header text-center">
      <p>
        Back to <a href="/">Home Page</a> | <a href="/shop/">Our Products</a>
      </p>
      <h2>{{.Title}}</h2>
      <div class="product-rew d-flex justify-content-center">
        <div class="starts">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
        <div class="number">
          <a href=""> | 28 customers’ review</a> | <a href="">Write a review</a>
        </div>
      </div>
    </header>
  </div>
</section>
<!-- End shipping Section -->

<!-- ======= products Section ======= -->
<section class="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-6"></div>
    </div>
  </div>
</section>
<!-- End products Section -->
{{end}}
