{{ define "main" }}

<!-- ======= shipping Section ======= -->
<section class="shipping" id="inner">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="content-box">
          <div class="icon">
            <img src="/assets/img/truck.png" alt="truck" />
          </div>
          <div class="box">
            <h3>FREE shipping in the US on all orders over $50.</h3>
            <p>
              To other countries the shipping costs will be calculated during
              checkout.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="content-box">
          <div class="icon">
            <img src="/assets/img/securty.png" alt="security" />
          </div>
          <div class="box">
            <h3>If it breaks, we will fix it.</h3>
            <p>
              All Super-elastic Signal Stick antennas are sold with a
              <strong>lifetime warranty.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End shipping Section -->

<!-- ======= title Section ======= -->
<section class="title" id="inner">
  <div class="container" data-aos="fade-up">
    <header class="section-big-header text-center">
      <h2>Bring Signal Home</h2>
      <p>Home made in Utah by passionates for passionates</p>
    </header>
    <div class="row bg">
      <div class="col-md-12">
        <h4>Help me find the antenna for me</h4>
        <form>
          <div class="row align-items-center">
            <div class="col-md-4">
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-md-4">
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="submit" value="Join" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End shipping Section -->

<!-- ======= production Section ======= -->
<section class="product">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <header class="section-header">
          <h2>Super-Elastic Signal Stick antenna</h2>
          <div class="alert d-flex align-items-center" role="alert">
            <i class="bi bi-exclamation-circle-fill"></i>
            <div>
              Frequency Coverage options:
              <strong>2m/70cm dual band, 440</strong> and
              <strong>220 monoband</strong>
            </div>
          </div>
          <p class="dark">
            These are hand-made, ultra lightweight, and nearly indestructible
            antennas which outperform the stock antenna your handheld radio came
            with by a significant margin.
          </p>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Values Section -->

<!-- ======= questions Section ======= -->
<section class="questions">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Popular questions</h2>
    </header>
    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <p class="mb-5">
            <strong>Lorem ipsum dolor sit amet.</strong>
          </p>
          <p class="mb-5">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime
            perferendis sunt ut? Tempora hic, ea aliquam fugit illum nulla,
            blanditiis quasi officia autem obcaecati ex.
          </p>
          <a href="https://hamstudy.org/">Read more</a>
        </div>
      </div>

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <p class="mb-5">
            <strong>Lorem ipsum dolor sit amet.</strong>
          </p>
          <p class="mb-5">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime
            perferendis sunt ut? Tempora hic, ea aliquam fugit illum nulla,
            blanditiis quasi officia autem obcaecati ex.
          </p>
          <a href="https://hamstudy.org/">Read more</a>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <p class="mb-5">
            <strong>Lorem ipsum dolor sit amet.</strong>
          </p>
          <p class="mb-5">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime
            perferendis sunt ut? Tempora hic, ea aliquam fugit illum nulla,
            blanditiis quasi officia autem obcaecati ex.
          </p>
          <a href="https://hamstudy.org/">Read more</a>
        </div>
      </div>

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <p class="mb-5">
            <strong>Lorem ipsum dolor sit amet.</strong>
          </p>
          <p class="mb-5">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime
            perferendis sunt ut? Tempora hic, ea aliquam fugit illum nulla,
            blanditiis quasi officia autem obcaecati ex.
          </p>
          <a href="https://hamstudy.org/">Read more</a>
        </div>
      </div>

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <p class="mb-5">
            <strong>Lorem ipsum dolor sit amet.</strong>
          </p>
          <p class="mb-5">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime
            perferendis sunt ut? Tempora hic, ea aliquam fugit illum nulla,
            blanditiis quasi officia autem obcaecati ex.
          </p>
          <a href="https://hamstudy.org/">Read more</a>
        </div>
      </div>

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <p class="mb-5">
            <strong>Lorem ipsum dolor sit amet.</strong>
          </p>
          <p class="mb-5">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime
            perferendis sunt ut? Tempora hic, ea aliquam fugit illum nulla,
            blanditiis quasi officia autem obcaecati ex.
          </p>
          <a href="https://hamstudy.org/">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End questions Section -->
{{end}}
