{{ define "main" }}

<!-- ======= shipping Section ======= -->
<section class="shipping" id="inner">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="content-box">
          <div class="icon">
            <img src="/assets/img/truck.png" alt="truck" />
          </div>
          <div class="box">
            <h3>FREE shipping in the US on all orders over $50.</h3>
            <p>
              To other countries the shipping costs will be calculated during
              checkout.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="content-box">
          <div class="icon">
            <img src="/assets/img/securty.png" alt="security" />
          </div>
          <div class="box">
            <h3>If it breaks, we will fix it.</h3>
            <p>
              All Super-elastic Signal Stick antennas are sold with a
              <strong>lifetime warranty.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End shipping Section -->

<!-- ======= title Section ======= -->
<section class="title" id="inner">
  <div class="container" data-aos="fade-up">
    <header class="section-big-header text-center">
      <h2>Bring Signal Home</h2>
      <p>Home made in Utah by passionates for passionates</p>
    </header>
    <div class="row bg">
      <div class="col-md-12">
        <h4>Help me find the antenna for me</h4>
        <form class="">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-9 form-controler">
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Select your radio brand</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Select your radio model</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <input type="submit" value="Join" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End shipping Section -->

<!-- ======= production Section ======= -->
<section class="product">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <header class="section-header">
          <h2>Super-Elastic Signal Stick antenna</h2>
          <div class="alert ash d-flex align-items-center" role="alert">
            <i class="bi bi-exclamation-circle-fill p-3"></i>
            <div>
              Frequency Coverage options:
              <strong>2m/70cm dual band, 440</strong> and
              <strong>220 monoband</strong>
            </div>
          </div>
          <p class="dark">
            These are hand-made, ultra lightweight, and nearly indestructible
            antennas which outperform the stock antenna your handheld radio came
            with by a significant margin.
          </p>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Values Section -->

<section class="main-product">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <img src="/assets/img/signal.png" alt="" class="img-fluid" />
      </div>
      <div class="col-md-6">
        <h2>Signal Staff Collapsible OSJ</h2>
        <p>
          The Signal Staff is a dual band 2 meter / 70 cm Open-Stub J-pole from
          S&K Antenna Systems! <br /><br />
          This is a new antenna for us here at Signal Stuff made by S&K Antenna
          Systems who are friends of ours and have assisted in many aspects of
          Signal Stick manufacturing!
        </p>
        <br />
        <p>In stock</p>
        <p><span>$60</span></p>
        <div class="btns">
          <a href="" class="btn1">Details</a>
          <a href="" class="btn2">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= production Section ======= -->
<section class="product">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <header class="section-header">
          <h2>Antenna’s add-ons</h2>
          <div class="alert orange d-flex align-items-center" role="alert">
            <i class="bi bi-exclamation-circle-fill p-3"></i>
            <div>
              <p>
                Please note: These antennas do NOT have any warranty
                <strong>2m/70cm dual band, 440</strong> and
                <strong>220 monoband</strong>
              </p>
            </div>
          </div>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Values Section -->

<!-- ======= production Section ======= -->
<section class="product">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <header class="section-header">
          <h2 style="color: red">Clearance</h2>
          <div class="alert orange d-flex align-items-center" role="alert">
            <i class="bi bi-exclamation-circle-fill p-3"></i>
            <div>
              <p>
                Please note: These antennas do NOT have any warranty
                <strong>2m/70cm dual band, 440</strong> and
                <strong>220 monoband</strong>
              </p>
            </div>
          </div>
          <p class="dark">
            The <strong>Semi-Elastic Signal Stick is,</strong> in short, a
            mistake. We got bad wire and made a lot of antennas before we
            realized it. These are usable, but they don’t return to being
            straight without extra help. They will arrive curved from the
            envelope.
          </p>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Values Section -->

<!-- ======= questions Section ======= -->
<section class="questions">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Popular questions</h2>
    </header>
    <div class="row">
      {{ range where .Site.Pages "Type" "question" }}
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <p class="mb-5">
            <strong>{{.Title}}</strong>
          </p>
          <p class="mb-5">
            {{.Description}}
          </p>
          <a href="{{.Permalink}}">Read more</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- End questions Section -->
{{end}}
