<footer id="footer" class="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h4>Search in our Q&A</h4>
        </div>
        <div class="col-lg-6">
          <form action="" method="post">
            <input
              type="email"
              name="email"
              placeholder="Type your question"
            /><input type="submit" value="Search" />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row gy-4 justify-content-center">
        <div class="col-lg-3 col-6 footer-links">
          <h4>Our Products</h4>
          <ul>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Antennas</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Adapters</a>
            </li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Add ons</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-6 footer-links">
          <h4>about Signalstuff</h4>
          <ul>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">About Us</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">HamStudy.org</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Examtools.org</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#">What's new</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#">Blog</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-6 footer-links">
          <h4>Legal</h4>
          <ul>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Privacy Notice</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#">Cookie policy</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#">Website terms</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-6 footer-links">
          <h4>Need Help?</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Support</a></li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#">Common Questions</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#">Delivery</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#">Returns</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="sm">
      <ul>
        <li>
          <a href=""><i class="bi bi-facebook"></i></a>
        </li>
        <li>
          <a href=""><i class="bi bi-twitter"></i></a>
        </li>
      </ul>
    </div>
    <div class="copyright">© Signal Stuff 2020</div>
  </div>
</footer>
