{{ define "main" }}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Calling all Amateur Radio lovers.</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">
          Signal Stuff is dedicated to enhancing the use of technology in the
          <br />
          amateur radio licensing technology.
        </h2>
      </div>
      <div class="hero-newsletter mt-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
              <h4 data-aos="fade-up">Join our community of passionaties</h4>
            </div>
            <div class="col-lg-6">
              <form action="" method="post" data-aos="fade-up">
                <input
                  type="email"
                  name="email"
                  placeholder="Your email address"
                /><input type="submit" value="Join" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- ======= tools Section ======= -->
<section class="tools">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <p class="mb-5">
            We provide tools to aspiring hams and those wanting to progress in
            the hobby to <strong>get ready for the licensing’s exam.</strong>
          </p>
          <div class="action-btn mt-4">
            <a href="https://hamstudy.org/">Got to HamStudy.org</a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="box">
          <p class="mb-5">
            We give VE teams the software they need to be able to
            <strong>give exams with integrity and efficiency,</strong> whether
            online or using paper.
          </p>
          <div class="action-btn mt-4">
            <a href="https://examTools.org/">Got to ExamTools.org</a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="600"
      >
        <div class="box">
          <p class="mb-5">
            Alii autem, quibus ego cum soluta nobis est laborum et voluptates
            omittantur maiorum voluptatum adipiscendarum
          </p>
          <div class="action-btn mt-4">
            <a href="/shop">Visit our Shop</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End tools Section -->

<!-- ======= shipping Section ======= -->
<section class="shipping">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="content-box">
          <div class="icon">
            <img src="/assets/img/truck.png" alt="truck" />
          </div>
          <div class="box">
            <h3>FREE shipping in the US on all orders over $50.</h3>
            <p>
              To other countries the shipping costs will be calculated during
              checkout.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="content-box">
          <div class="icon">
            <img src="/assets/img/securty.png" alt="security" />
          </div>
          <div class="box">
            <h3>If it breaks, we will fix it.</h3>
            <p>
              All Super-elastic Signal Stick antennas are sold with a
              <strong>lifetime warranty.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End shipping Section -->

<!-- ======= accept Section ======= -->
<section class="accept">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="box text-center">
          <p>We accept</p>
          <img src="/assets/img/payment-icon.png" alt="truck" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End accept Section -->

<!-- ======= production Section ======= -->
<section class="product">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Our most popular products</h2>
      <p>View all our products</p>
    </header>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="product-box">
            <img src="/assets/img/SMA-f.png" class="img-fluid mb-3" alt="" />
            <h3>Super-Elastic Signal Stick (SMA Female)</h3>
          </div>
          <div class="product-rew">
            <div class="starts">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="number">
              <a href="">28 reviews</a>
            </div>
          </div>
          <div class="stock">
            <p>In stock</p>
            <h3>$20</h3>
          </div>
          <div class="pr-btn">
            <a href="" class="light-btn">Details</a>
            <a href="" class="dark-btn">Select options</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Values Section -->

<!-- ======= feedback Section ======= -->
<section class="feedback">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>What our customers say</h2>
    </header>
    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <img src="/assets/img/user.png" alt="user" class="img-fluid" />
          <p class="mb-5">
            "First off, I used hamstudy.org and it was very helpful in getting
            my General and Extra. I recently bought two of these signal sticks
            and tried them out on two different HTs. They really work great.
            Yes, you can coil it up and it pops right back in shape. The price
            is very reasonable and the shipping was fast."
            <br /><br />
            <span>Darren</span>
          </p>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="box">
          <img src="/assets/img/user.png" alt="user" class="img-fluid" />
          <p class="mb-5">
            "I can clearly reach a repeater that was mostly static with the
            stock rubber duck on my Baofeng. It did it’s job. I also want to
            support the people behind the site (hamstudy.org) that helped me
            pass the test to get into this hobby. For both of those, it’s an
            easy 5/5."

            <br /><br />
            <span>George</span>
          </p>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="600"
      >
        <div class="box">
          <img src="/assets/img/user.png" alt="user" class="img-fluid" />
          <p class="mb-5">
            "I was sceptic, I admit it. I decided to check the SWR on my HT
            antenna’s out of boredom one day and was shocked. Radio’s D74 and
            FT3. Stock antenna was 6+ SWR and Diamond SRH320A ($50.00 worth) was
            8+. So I ordered the Signal stick. SWR is 1.2-1.4. Wow. I can hit
            repeaters on EL power that required med to high with other
            antenna’s. Thanks for a Great product at a Great price."

            <br /><br />
            <span>Lane</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End feedback Section -->

<!-- ======= hamapp Section ======= -->
<section class="hamapp">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
        <h3>
          There is no part of the hobby where this is more painfully obvious
          than in that of amateur radio license study and examinations.
        </h3>
      </div>

      <div
        class="col-lg-5 d-flex justify-content-center"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <img src="/assets/img/phone.png" alt="" class="img-fluid" />
      </div>

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="600">
        <h2>HamStudy App</h2>
        <p>
          Signal Stuff and the HamStudy.org team are focused on providing
          powerful study tools for everyone. For this reason,
          <strong>
            the HamStudy.org online study website is and will always be
            absolutely free!
          </strong>
          <br /><br />
          For those of you who want to support our work and for anyone who needs
          the freedom to study without an internet connection we now have our
          offline-capable apps!
        </p>
        <img src="/assets/img/phone_store.png" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End feedback Section -->

<!-- ======= video Section ======= -->
<section class="video">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Our videos</h2>
    </header>
    <div class="row justify-content-center">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <iframe
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/m9adTAhvPNY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p class="text-center">Super-elastic Signal Sticks in action</p>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <iframe
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/m9adTAhvPNY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p class="text-center">
          Here is a review from a third party (posted with permission)
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End video Section -->

<!-- ======= about Section ======= -->
<section class="about">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h2>About Signal Stuff</h2>
          <h6>
            In a world where Amateur Radio ought to be on the cutting edge of
            technology, far too often hams are seen as being “old school” and
            “behind the times”. There is no part of the hobby where this is more
            painfully obvious than in that of amateur radio license study and
            examinations.
          </h6>
        </div>
      </div>
    </header>
    <div class="row about-row align-items-center justify-content-center">
      <div class="col-lg-3 box" data-aos="fade-up" data-aos-delay="200">
        <img src="/assets/img/watch_later.svg" alt="" />
        <h3>Fast</h3>
        <p>At magnum periculum adiit in oculis quidem exercitus quid ex.</p>
      </div>
      <div class="col-lg-3 box" data-aos="fade-up" data-aos-delay="200">
        <img src="/assets/img/chat_bubble.svg" alt="" />
        <h3>Flexible</h3>
        <p>Epicurus in animis nostris inesse notionem, ut ad naturam aut.</p>
      </div>
      <div class="col-lg-3 box" data-aos="fade-up" data-aos-delay="200">
        <img src="/assets/img/face.svg" alt="" />
        <h3>Reliable</h3>
        <p>Sunt autem vel illum, qui dolorem aspernari ut ita ruant.</p>
      </div>
    </div>
  </div>
</section>
<!-- End about Section -->

<!-- ======= questions Section ======= -->
<section class="questions">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Popular questions</h2>
    </header>
    <div class="row">
      {{ range where .Site.Pages "Type" "question" }}
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <p class="mb-5">
            <strong>{{.Title}}</strong>
          </p>
          <p class="mb-5">{{.Description}}</p>
          <a href="{{.Permalink}}">Read more</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- End questions Section -->
{{ range where .Site.Pages "Type" "product" }}

<div class="product">
  <h2 class="product__name">{{ .Title }}</h2>

  <img class="product__image" src="{{ .Params.image }}" alt="" />

  <p class="product__description">{{ .Description }}</p>
  <div class="product__button-container">
    <div class="product__price">${{ .Params.price }}</div>
    <button
      class="snipcart-add-item buy-button"
      data-item-id="{{ .Permalink }}"
      data-item-name="{{ .Params.name }}"
      data-item-price="{{ .Params.price }}"
      data-item-url="{{ .Permalink }}"
      data-item-description="{{ .Params.description }}"
    >
      Add to cart
    </button>
    <button>
      <a href="{{.Permalink }}">Preview</a>
    </button>
  </div>
</div>

{{ end }}

<!---->
{{end}}
